{% extends 'base.html' %}

{% block title %}
<title>qualto</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <table id="enemy">
        <!-- table body -->
        <tbody>
            <tr>
            {% for p in hp_2 %}
            {% set br = True %}
            {% if loop.index == 5 %}
            {% set br = False %}
            </tr>
            <tr>
            {% endif %}
                
                <td id={{p}} class="content_center" onclick="puton(this);"><img class="pollimg" src="../static/img/{{p}}.png" /></td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
        {% if br %}
        <div style="margin: 120px"></div>
        {% endif %}
    </div>
    <div class="row2">
        <table id="main_stage">
        <!-- table body -->
        <tbody>
            {% for r_0, r_1, r_2, r_3 in main_area %}
            <tr>
                <td id={{r_0}} class="content_center" onclick="puton(this);"><img class="pollimg" src="../static/img/{{r_0}}.png" /></td>
                <td id={{r_1}} class="content_center" onclick="puton(this);"><img class="pollimg" src="../static/img/{{r_1}}.png" /></td>
                <td id={{r_2}} class="content_center" onclick="puton(this);"><img class="pollimg" src="../static/img/{{r_2}}.png" /></td>
                <td id={{r_3}} class="content_center" onclick="puton(this);"><img class="pollimg" src="../static/img/{{r_3}}.png" /></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <div class="row">
        <p>次の駒</p>
        <table id="present_stage" class="onecell">
        <tbody>
            <tr>
                <td id={{present_stage}} class="content_center"><img class="pollimg" src="../static/img/{{present_stage}}.png" /></td>
            </tr>
        </tbody>
        </table>
        <p id="stats">{{status}}</p>
        </div>
    </div>
        <div class="row">
        <table id="me" class="field">
        <tbody>
            <!-- table body -->
            <tr>
            {% for p in hp_1 %}
            {% if loop.index == 5 %}
            </tr>
            <tr>
            {% endif %}
                <td id={{p}} class="content_center" onclick="puton(this);"><img class="pollimg" src="../static/img/{{p}}.png" /></td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
    </div>
</div>

<script>
function puton(td){
    const column = td.cellIndex;
    const tr = td.parentNode;
    const td_id = td.id;
    const row = tr.sectionRowIndex;
    const text = td.textContent;
    var st = document.getElementById("stats");
    const stText = st.textContent;
    
    if (stText.indexOf("finish")) {
        fetch('/advance', {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify({"poll_uni": td_id, "pos": [row, column], "dbg": stText})
        }).then(
            response => response.json()
        ).then(
            json => { document.location.assign('./bord'); }
        )
    }
    /*
    fetch('/advance', {
        method: "POST",
        headers: { "Content-Type": "application/json"},
        body: JSON.stringify({"poll_uni": td_id, "pos": [row, column]})
    }).then(
        response => response.json()
    ).then(
        json => { document.location.assign('./bord'); }
    )
    */
}
</script>
{% endblock %}
